<div class="employee-dashboard">
  <h2>Employee Dashboard</h2>
  <mat-card>


    <mat-card-header>
      <mat-card-title>Welcome to Your Dashboard </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Here, you can view and give your feedbacks.</p>
      <button mat-raised-button color="primary" (click)="navigateToPerformanceReviews()">View Feedback</button>
      <button mat-raised-button color="accent" (click)="navigateToReviews()">Give Feedbacks</button>
    </mat-card-content>
  </mat-card><br>
  <button mat-raised-button class="logout-button" (click)="logout()">Logout</button>


</div>


