<h2>Give Reviews</h2>
<div>
  <!-- <div>
    <strong>Reviewer:</strong> {{ loggedInUserName }} Display the logged-in user's name
  </div> -->

  <mat-form-field appearance="fill">
    <mat-label>Select Reviewee</mat-label>
    <mat-select [(ngModel)]="selectedRevieweeId">
      <mat-option *ngFor="let employee of employees" [value]="employee.id">
        {{ employee.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Feedback</mat-label>
    <textarea matInput [(ngModel)]="feedback" rows="4"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="assignReview()">Give Review</button>
  <br>
  <button mat-raised-button color="primary" class="back-button" (click)="goToDashboard()">Back to Dashboard</button>
</div>
